<div class="tab-select">
  <button {{action "toggleSuccessStoryPage"}}>success story</button>
  <button {{action "toggleStatsPage"}}>stats</button>
</div>
{{#if onSuccessStory}}
  {{success-story-page stories=stories}}
{{else}}
  {{stats-page user=user}}
{{/if}}